<h1>LOGIN</h1>


<form class="login" action="/session" method="post">
  <%= @message %>
  <br>
  <label for="">Email</label>
  <input type="text" name="email" value="">
  <br>
  <label for="">Password</label>
  <input type="password" name="password" value="">
  <br>
  <button type="submit" name="button">Log In</button>
</form>
