
<div class="login">
<form action="/session" method="post">
  <h1>LOGIN</h1>
  <%= @message %>
  <br>
  <label for="">Email</label>
  <input type="text" name="email" value="">
  <br>
  <label for="">Password</label>
  <input type="password" name="password" value="">
  <br>
  <button type="submit" name="button">Log In</button>
</form>
</div>
