
<form class="" action="/register" method="post">
  <label for="">Name</label>
  <input type="text" name="name" value="">

  <label for="">Email</label>
  <input type="text" name="email" value="">

  <label for="">Password</label>
  <input type="password" name="password" value="">

  <label for="">Choose your team</label>
  <select name="team">
    <option value="Blue">Blue</option>
    <option value="Green">Green</option>
    <option value="Red">Red</option>
  </select>

  <button type="submit" name="button">Log In</button>
</form>
