<div class="login">
<form action="/register" method="post">
  <h1>Register</h1>
  <label for="">Name</label>
  <input type="text" name="name" value="">
  <br>
  <label for="">Email</label>
  <input type="text" name="email" value="">
  <br>
  <label for="">Password</label>
  <input type="password" name="password" value="">
  <br>
  <label for="">Choose your team</label>
  <select name="team">
    <option value="Data Science">Data Science</option>
    <option value="WDI">WDI</option>
    <option value="UX">UX</option>
  </select>
  <br>
  <button type="submit" name="button">Register</button>
</form>
</div>
