* {
  box-sizing: border-box;;
}
body {
  background: url("/../images/melb.jpg");
  padding: 40px 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.login {
  padding: 20px;
}
.found,
.not_found
 {
  background-color: #080808;
  color: linen;
  display: inline-block;
  width: 30%;
  margin: 10px;
  border: 1px solid #181818;
  padding: 10px;
}
.found img,
.not_found img {
  padding-bottom: 10px;
  width: 100%;
}
.found {
  border-bottom: 2px solid white;
}
.scores img, .scores p {
  display: inline-block;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: red;
}
main {
  background-color: black;
  width: 90%;
  color: white;
  margin: 0 auto;
}
main button {
  margin-top: 10px;
}
.weather {
  /*background-color: rgba(0,0,0,.7);*/
  background: url("/../images/clouds.jpg");
  width: 100%;
  color: white;
  padding: 30px;
  font-family: 'Merriweather', serif;
}
.show img {
  border: 1px solid white;
}
.border {
  border: 3px solid white;
  border-radius: 50%;
}
