* {
  box-sizing: border-box;;
}
body {
  background: url("/../images/melb.jpg");
  padding: 40px 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.treasures_found, .treasures_not_found {
  padding: 20px;
}
.treasures_found h1 {
  font-family: 'Merriweather', serif;
  padding-left: 20px;
  color: #780000;
}
.treasures_not_found h1 {
  font-family: 'Merriweather', serif;
  padding-left: 20px;
  color: #367588;
}
.login {
  padding: 20px;
}
.found,
.not_found
 {
  vertical-align: top;
  background-color: #080808;
  color: linen;
  display: inline-block;
  width: 25%;
  margin: 10px;
  border: 1px solid #181818;
  padding: 10px;
}
.found h3,
.not_found h3 {
  color: #367588;
}
.found img,
.not_found img {
  padding-bottom: 10px;
  width: 100%;
}
.found {
  /*border-bottom: 2px solid 	#780000;*/
  border-left: 2px solid 	#780000;
}
.not_found {
  /*border-bottom: 2px solid #367588;*/
  border-left: 2px solid #367588;
}

.each {
  display: inline-block;
  width: 200px;
    text-align: center;
}
.each img {
  text-align: center;
}
.scores {
  text-align: center;
  padding-top: 45px;
}
.scores h2 {
  color: #367588;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #FFCC99;
}
main {
  background-color: black;
  width: 90%;
  color: white;
  margin: 0 auto;
}
main button {
  margin-top: 10px;
}
.weather {
  /*background-color: rgba(0,0,0,.7);*/
  background: url("/../images/clouds.jpg");
  width: 100%;
  color: white;
  padding: 30px;
  font-family: 'Merriweather', serif;
  border-bottom: 1px solid white;
}
.weather h1 {
  color: linen;
}
.weather h3 {
  font-weight: 100;
}
.show img {
  border: 1px solid white;
}
.border {
  border: 3px solid white;
  border-radius: 50%;
}
